<div class="thirteen-towers position-effect">
  <div class="position">
    <h4>Position: {{position.label}}</h4>
    <p>{{position.description}}</p>
  </div>
  <div class="effect">
    <h4>Effect: {{effect.label}}</h4>
    <p>{{effect.description}}</p>
  </div>
</div>
