<ol class="item-list">
  {{#each items}}
  <li class="item flexrow" data-item-id="{{this._id}}">
    <div class="item-image"><img src="{{this.img}}" title="{{this.name}}" width="24" height="24"/></div>
    <h4 class="item-name">{{this.name}}</h4>
    <div class="item-controls">
      <a class="item-control item-edit" title="Edit"><i class="fas fa-edit"></i></a>
      <a class="item-control item-delete" title="Delete"><i class="fas fa-trash"></i></a>
    </div>
  </li>
  {{/each}}
</ol>
