<div class="item-effects">
  <div class="form-group">
    <label>Edge Modifier:</label>
    <input type="number" name="system.edge" value="{{system.edge}}" data-dtype="Number"/>
  </div>
  <div class="form-group">
    <label>Condition:</label>
    <textarea name="system.condition" rows="2">{{system.condition}}</textarea>
  </div>
</div>
